body {
  font-family: sans-serif;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}
section {
  display: flex;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

#clickLogin {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

#tweets {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

#postWindow {
  text-align: left;
  width: fit-content;
  margin: auto;
}

#postMessage textarea {
  height: 100px;
  width: 500px;
  resize: none;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tweet {
  padding: 20px;
  margin: 10px 0px;
  border-radius: 15px;
  border: solid 1px grey;
}
.tweetHeader {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.tweetMessage {
  padding: 10px 0px;
}
